<h1>Admin Dashboard</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Products</td>
      <td><%= link_to @product_count,  [:admin, :products] %></td>
    </tr>
    <tr>
      <td>Categories</td>
      <td><%= link_to @category_count, [:admin, :categories] %></td>
    </tr>
  </tbody>
</table>
